{
  "extends": "react-app",
  "rules": {
    "eqeqeq": 0,
    "no-undef": 0,
    "default-case": 0,
    "no-redeclare": 0,
    "import/first": 0,
    "no-unused-vars": 0,
    "no-useless-escape": 0,
    "no-mixed-operators": 0,
    "no-restricted-globals": 0,
    "no-useless-constructor": 0,
    "no-control-regex": 0,
    "no-throw-literal": 0,
    "jsx-a11y/alt-text": 0,
    "react/jsx-no-target-blank": 0,
    "no-sequences": 0,
    "no-fallthrough": 0,
    "no-cond-assign": 0,
    "strict": 0,
    "no-loop-func": 0,
    "array-callback-return": 0,
    "no-shadow-restricted-names": 0,
    "no-unused-expressions": 0,
    "no-new-func": 0,
    "new-parens": 0,
    "no-whitespace-before-property": 0,
    "no-script-url": 0,
    "no-unreachable": 0,
    "no-extend-native": 0,
    "no-extra-label": 0,
    "no-label-var": 0,
    "no-native-reassign": 0,
    "radix": 0,
    "no-self-assign": 0,
    "no-useless-concat": 0,
    "no-eval": 0,
    "valid-typeof": 0
  }
}
